body {
    background-color: beige;
    color: black;
}
.box{
    width: 100px;
    height: 100px;
    border: 2px solid green;
    background-color: blue;
    margin: 10px;
    color: white;
    text-align: center;
}

.newclass  {
    background-color : green ;
}